################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
Debug
.vs

/Dayfat/Core.MasterData/aws-logger-errors.txt
/Dayfat/Core.Payment/aws-logger-errors.txt
/Dayfat/Getaway/aws-logger-errors.txt
/Dayfat/Packages/aws-logger-errors.txt
/Dayfat/Getaway/aws-logger-errors.txt
/Dayfat/Getaway/aws-logger-errors.txt
/Umrah/aws-logger-errors.txt
/Dayfat/Core.Authentication/aws-logger-errors.txt
/Dayfat/Stays/aws-logger-errors.txt
/Dayfat/Core.Files/aws-logger-errors.txt
/Dayfat/Core.Notification/aws-logger-errors.txt
/Dayfat/Transfers/aws-logger-errors.txt
/RIS.WebAPI/wwwroot/uploads
 
/RIS.WebAPI/.config
/RIS.WebAPI/Properties/PublishProfiles
/RIS.WebAPI/appsettings.json
/src/RIS.NotificationEngine/logs
/src/RIS.MobileAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
